.add-product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invalid {
    background-color:  rgb(255, 217, 217);
}

input {
    border: 1px solid rgb(156, 156, 156);
    border-radius: 2px;

}

select {
    border: 1px solid;
}

.back-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    margin-right: 20px;
}

.select-product-type:hover {
    cursor: pointer;
}