.add-product-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    margin-right: 20px;
}

.product-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}